<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventDb" connectionString="Server=DESKTOP-H9NQTJ3;Database=InventDb;Trusted_Connection=True;TrustServerCertificate=True" />
    </connectionStrings>
</configuration>